node_modules/
build/
dist/
bin/
obj/

.vs/
.vscode/
.fleet/
.idea/
*.DotSettings
*.user
*.log
*.local

config/*.*
!config/~*.*

compose.override.yml

*.code-workspace
.cursor/docs/*.md
.cursor/rules/local-rules.mdc

__pycache__/
.pytest_cache/
.ruff_cache/
*.pyc
.venv/
.eggs/
*.egg-info/
_generated/
